@font-face {
    font-family: 'Ramis Arabic';
    src: url('/fonts/Ramis Arabic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
